.auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.auth-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.auth-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.auth-form h2 {
  margin-bottom: 1rem;
  color: #9486ba;
  text-align: center;
}

.auth-form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.auth-form button {
  padding: 0.75rem;
  background-color: #9486ba;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background-color: #715ea7;
}

.auth-error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

a{
  color: #9486ba;
}