.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f4f6f8;
  background: url('/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.home-paper {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}